fa-bars{
    font-size: 10px;
}
header{
    margin-top: 7%;
}
.headings{
    margin-top: 20%;
    color:#f5422e;
}
.quote{
    font-family: Lato, Arial, Helvetica, sans;
    font-size: 20px;
}
.topic{
    font-size: 30px;
    font-weight: 700;
}

.home-message{
    background-color:#f7f7f7;
    border: 2px solid #ffffff;
}
.time{
    font-family: Lato, Arial, Helvetica, sans;
}
.main-program{
    background-color: #272A32;
    font-family: Lato, Arial, Helvetica, sans;
    color:#ffffff;
}
.main-program-heading{
    font-size: 25px;
}
.card{
    background-color: #3c3f46;
}
.card-icon{
    font-size: 30px;
}
.redline1{
    width:25px;
    height:3px;
    color:#f5422e;
}
.fa-smile-tongue{
    font-size: 25px;
}